{%extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
  <nav class="navbar fixed-top col-md-12">
    <div class="col-md-4"></div>
    <h3 class="policy-headline">Search For A Policy</h3>
    <div class="col-md-4"></div>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form data-bind="submit: search">
          <div class="form-group row">
            <div class="col-md-12">
                <label for="policy_number" class="policy_number"><strong>Policy Number</strong></label>
                <input data-bind="value: policy_id" placeholder="Policy number" type="number" class="form-control" id="policy_number">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
                <label for="invoice_date" class="invoice_date"><strong>Invoice Date</strong></label>
                <input data-bind="value: policy_date" placeholder="Choose policy date" type="date" class="form-control" id="invoice_date" >
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button type="submit" class="btn btn-success">Search For a Policy</button>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  </div>
  <div class="container-fluid" data-bind="if: policy().id">
    <div class="container detail-container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="policy-details"><strong>Details</strong></h3>
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-md-12">
          <div class="col-md-4">
            <strong>Policy:</strong>
            <span data-bind="text: policy().id"></span><br>
            <strong>Insured Name:</strong>
            <span data-bind="text: policy().insured"></span><br>
          </div>
          <div class="col-md-4">
            <strong>Agent Name:</strong>
            <span data-bind="text: policy().agent_name"></span><br>
            <strong>Current Balance:</strong>
            <span data-bind="text: policy().balance"></span><br>
          </div>
          <div class="col-md-4">
            <strong>Status:</strong>
            <span data-bind="text: policy().status"></span><br>
            <strong>Billing Schedule:</strong>
            <span data-bind="text: policy().billing_schedule"></span><br>
            <strong>Annual Premium:</strong>
            <span data-bind="text: policy().annual_premium"></span><br>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-6" data-bind="if: policy().invoices().length == 0">
          <h3 class="heading"><strong>No Invoices</strong></h3>
        </div>
      </div>
      <div class="row">
      <div class="col-md-6" data-bind="if: policy().invoices().length > 0">
        <h3 class="heading"><strong>Invoices</strong></h3>
        <div class="table-responsive">
          <table class="table table-bordered" style="margin-bottom: 0px;">
            <thead>
              <tr>
                <td><strong>Bill Date</strong></td>
                <td><strong>Due Date</strong></td>
                <td><strong>Cancel Date</strong></td>
                <td><strong>Amount Due</strong></td>
              </tr>
            </thead>
            <tbody data-bind="foreach: policy().invoices">
              <tr>
                <td data-bind="text: bill_date"></td>
                <td data-bind="text: due_date"></td>
                <td data-bind="text: cancel_date"></td>
                <td data-bind="text: amount_due"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

        <div class="col-md-6" data-bind="if: policy().payments().length == 0">
          <h3 class="heading"><strong>No Payments</strong></h3>
        </div>
        <div class="col-md-6" data-bind="if: policy().payments().length > 0">
            <h3 class="heading"><strong>Payments</strong></h3>
              <div class="table-responsive">
                <table class="table table-bordered" style="margin-bottom: 0px;">
                  <thead>
                    <tr>
                      <td><strong>Date</strong></td>
                      <td><strong>Amount Paid</strong></td>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: policy().payments">
                    <tr>
                      <td data-bind="text: transaction_date"></td>
                      <td data-bind="text: amount_paid"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
